{block content}
<h1>Kandidáti</h1>
<div>
    <p n:foreach="$kandidati as $kandidat">
        <strong>{$kandidat->pozice}. {$kandidat->jmeno}</strong>
        ({$kandidat->strana}, {$kandidat->nominace}), {$kandidat->povolani}
    </p>
</div>
{/block}
