{block content}
<h1>Kandidáti pro volby v Královéhradeckém kraji 2016</h1>
<div>
    <p n:foreach="$kandidati as $kandidat">
        <a n:href="Kandidat:default $kandidat->url"><strong>{$kandidat->pozice}. {$kandidat->jmeno}</strong></a>
        {$kandidat->mesto}, {$kandidat->povolani}
    </p>
</div>
{/block}
