{block content}
<div class="kandidat">
<h1>{$kandidat->pozice}. {$kandidat->jmeno}</h1>
({$kandidat->strana}, {$kandidat->nominace}), {$kandidat->mesto}, {$kandidat->povolani}
<div class="clear"></div>
{if !empty($kandidat->upload_id)}
    <img src="{link :Service:Thumbnail:default, id => $kandidat->upload_id, width => 200, format => png}" alt="{$kandidat->jmeno}" class="foto" />
{/if}
{if !empty($kandidat->popis)}
{!$kandidat->popis}
{/if}
</div>
{/block}