{block content}
<h1>Kontakt</h1>
<h2>Michal Kudrnáč</h2>
<p>předseda krajské organizace Strany zelených<br /><a href="mailto:michal.kudrnac&#64;zeleni.cz">michal.kudrnac&#64;zeleni.cz</a>, +420 608 581 321</p>
<h2>Stanislav Štipl</h2>
<p>
<p>předseda krajského sdružení Pirátů<br /><a href="mailto:stanislav.stipl&#64;pirati.cz">stanislav.stipl&#64;pirati.cz</a></p>

</p>
{/block}